<div class="home__container">
  <app-card
    gameCover="assets/game-covers/bt-5.jpg"
    gameLabel="Release!"
    gameStatus="Play it Now!"
    gamePrice="R$ 199,99"
    gameType="XBOX | PS4"
  ></app-card>
  <app-card
    gameCover="assets/game-covers/bt-4.jpg"
    gameLabel="Exclusive!"
    gameStatus="Buy it Now!"
    gamePrice="R$ 99,99"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/game-covers/bt-1.jpg"
    gameLabel="Exclusive"
    gameStatus="Buy it Now!"
    gamePrice="R$ 249,99"
    gameType="XBOX | PS4 | PC | Nitendo"
  ></app-card>
</div>
